.form-group {
    margin-top: 40px;
    width: 30%;
}

.image-container {
    background-image: url("");
    background-position: center;
    background-size: cover;
    margin-top: 36px;
    border: 1px solid #ccc;
    height: 300px;
    width: 340px;
}